.container {
  padding: 0 2rem;
}
.header {
  text-align: center;
  color: #000;

  height: 10vh;
  /* padding-inline: 50px; */
  /* line-height: 64px; */
  padding: 0;
  background-color: #DCB8CB;
}

.content{
  text-align: center;
  /* word-wrap: break-word; */
  min-height: 90vh;
  padding: 0 20px;
  /* line-height: 120px; */
  color: #000;
  background-color: #DCB8CB;
  
  }
.selfDesc{
  word-wrap: break-word;
  font-size: 16px;
}
.footer {
  text-align: center;
  color: #000;
  background-color: #DCB8CB;
  /* padding: 10px; */
}